In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
np.random.seed(50)
height=np.random.randint(140,200,200)
weight=np.random.randint(40,120,200)
bmi=weight/((height/100)**2)

BMI=pd.DataFrame({"Height":height,"Weight":weight,"BMI":bmi})
BMI

     Height  Weight        BMI
0       188     104  29.425079
1       172     118  39.886425
2       151      92  40.349107
3       185      66  19.284149
4       173      85  28.400548
..      ...     ...        ...
195     154      87  36.684095
196     196      99  25.770512
197     142      70  34.715334
198     180     103  31.790123
199     162      98  37.341869

[200 rows x 3 columns]

In [1]:
def category(bmi):
    bmi=float(bmi)
    if bmi <=19 and bmi >1:
        return "under weight"
    elif bmi<=25 and bmi >19:
        return "normal"
        else
        return "over weight"
        BMI["Category"]

SyntaxError: invalid syntax (1948838605.py, line 7)